:root {
  --blue: #0f2f40;
  --light-blue: #3B5564;
	--blue-background: rgba(33,105,140,.40);
	--blue-font: #c8fafa;
  --blue-border: #21698c;

}

body {
  background: url("./images/SmiteBackground.jpg") no-repeat center center fixed;  
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

p {
  margin: 0;
}
/*Buttons*/

.btn-primary {
  color: var(--blue-font);
  border-radius: 0;
  border: 1px solid var(--blue-border);
  background-color: var(--blue-border);
}

.btn-primary:hover {
  color: var(--blue-font);
  border-radius: 0;
  border: 1px solid var(--blue-border);
  background-color: var(--blue-background);
}

/*Main App*/
.App {
  text-align: center;
  color: var(--blue-font);
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  padding: 0 2em;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 100%;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.Footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: var(--blue);
    color: var(--blue-font);
}

.Footer p {
  margin: 10px 0;
}

.Options-container {
      padding: 20px 0px 30px;
}

.Mega-container {
  overflow: auto;
  background-color: var(--blue-background);
  margin-bottom: 40px;
}

.Randomizer-section {
  
}

.Gods-section {
  
}

.Randomizer-container {
    padding: 20px 20px 30px;
}

.Randomizer-godnames {
  display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-flow: row wrap;
}

.Randomizer-godnames > div {
  background-color: var(--light-blue);
}

.Button-randomize {
  margin-bottom: 10px;
}

.Options-row {
      margin: 0 0 1em 0;
}

.God-div {
  cursor: pointer;
  min-width: 7em;
}

.God-picture-div.none {
	flex: none;
  animation: fadein 2s;
  background-color: rgba(255,255,255,0.4);
  border: 1px solid black;
}

.God-picture-div.green {
	flex: none;
  animation: fadein 2s;
  background-color: rgba(0,255,0, 0.4);
  border: 1px solid black;
}

.God-picture-div img{
	margin-top: 10px;
}

.God-container {
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-flow: row wrap;
}

.Changes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 60px;
}

#Change-pantheon {
  background-color: var(--blue-background);
  color: var(--blue-font);
  box-shadow: 0 0 .3em .1em #1A5470;
}

#Change-godclass {
  background-color: var(--blue-background);
  color: var(--blue-font);
  box-shadow: 0 0 .3em .1em #1A5470;
}

@media screen and (max-width: 990px) {
  .Gods-section {
    height: initial;
    border-right: none;
  }
}