:root {
  --blue: #0f2f40;
  --light-blue: #3B5564;
  --blue-background: rgba(33,105,140,.50);
  --blue-font: #c8fafa;
  --blue-border: #21698c;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

body {
  background: url("./images/SmiteBackground.jpg") no-repeat center center fixed;  
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

/*Buttons*/
.btn-primary, .btn-primary:focus {
  color: var(--blue-font);
  border-radius: 0;
  border: 1px solid var(--blue-border);
  background-color: var(--blue-border);
  background-image: none;
}

.btn-primary:hover {
  background-color: #dec52e;
  color: var(--blue);
}

.control-button {
  padding: 10px 0;
}

.control-button .btn-primary.active {
  background-color: #bfa712;
  color: var(--blue)
}

/*Modal*/
.god-modal .modal-content {
  background-color: rgba(33,105,140,.85);
  background-image: url("./images/loading.svg"); 
  background-repeat: no-repeat;
  background-position: center; 
  color: #fff;
  min-width: 200px;
  min-height: 200px;
}

.same-name-modal .modal-content {
  background-color: rgba(33,105,140,.85);
  color: #fff;
}

.modal-message {
  padding: 30px 70px;
  line-height: 24px;
}

.modal-button-container {
  padding: 3px;
  display: flex;
  justify-content: flex-end;
  background-color: var(--light-blue);
  border-radius: 6px;
}

.modal-button-container button {
  margin: 3px;
}

.modal-open {
  padding-right: 0 !important;
}

.modal-dialog {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: inherit;
}

.close-modal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--light-blue);
  border-radius: 6px;
}

.close-modal i {
  display: flex;
  align-items: center;
}

.close-modal i {
  height: 32px;
  cursor: pointer;
  padding: 6px;
}

.react-audio-player {
  display: none;
} 

/*Main App*/
.app {
  text-align: center;
  color: var(--blue-font);
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  padding: 0 2em;
}

.app-header {
  height: 100%;
  padding: 20px;
}

.app-logo {
  height: 80px;
}

.App-intro {
  font-size: large;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: var(--blue);
  color: var(--blue-font);
}

.footer p {
  margin: 10px 0;
}

.options-container {
  padding: 20px 0px 30px;
}

.mega-container {
  overflow: auto;
  background-color: var(--blue-background);
  margin-bottom: 40px;
}

.randomizer-container {
  padding: 0 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.randomizer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.randomizer-item h1 {
  text-align: center;
  margin-top: 10px;
}

.button-randomize {
  margin-bottom: 10px;
}

.options-row {
  margin: 0 0 1em 0;
}

.god-div {
  cursor: pointer;
  min-width: 7em;
}

.god-picture-div img {
  background: url("./images/Transparent.png") no-repeat center center fixed;
  margin-top: 10px;  
}

.god-picture-div.none {
	flex: none;
  animation: fadein 2s;
  background-color: rgba(255,255,255,0.4);
  border: 1px solid black;
  min-height: 100px;
}

.god-picture-div.green {
	flex: none;
  animation: fadein 2s;
  background-color: rgba(0,255,0, 0.4);
  border: 1px solid black;
  min-height: 100px;
}

.god-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-flow: row wrap;
}

.changes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 60px;
  padding: 0 10px;
}

#change-pantheon {
  background-color: var(--blue-background);
  color: var(--blue-font);
  box-shadow: 0 0 .3em .1em #1A5470;
}

#change-godclass {
  background-color: var(--blue-background);
  color: var(--blue-font);
  box-shadow: 0 0 .3em .1em #1A5470;
}

#change-profile {
  background-color: var(--blue-background);
  color: var(--blue-font);
  box-shadow: 0 0 .3em .1em #1A5470;
  width: 100%;
  margin-bottom: 10px;
}

.button-container {
  width: 100%;
}

.pantheon-class {
  display: flex;
  justify-content: center;
}

.profile-class {
  display: flex;
  justify-content: center;
}

.changes input[type="text"] {
  color: var(--blue-font);
  background-color: var(--blue-border);
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 990px) {
  .gods-section {
    height: initial;
    border-right: none;
  }
}